# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables (match in all folders)
**/.env
.env

# OS-specific
.DS_Store
Thumbs.db

# Build
dist/
build/

# Coverage
coverage/

# Others
*.tgz
.pnpm-debug.log